body{
    font-size: 14px;
    font-family: Open-Sans;
    background-color: #f2f2f2;
}
#description{
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
#titre{
    font-size: 40px;
    vertical-align: left;
    text-align: left;
    padding-left: 0%;
    padding-top: 10px;
    color: rgb(145, 107, 107);
    font-style: italic;
    font-family: 'Times New Roman', Times, serif;
}
.navigation{
    background-color: #2e2f30;
    height: 100px;
    float: left;
    padding-left: 25px;
    text-align: left;
}
.liens{
    padding-left: 50px;
    margin: 0px;
    color: white;
    text-align: left;
    vertical-align: middle;
}
fieldset:hover a {
    text-decoration: none;
    color: #b13d6d;
}
.Titre-secondaires{
    text-shadow: 2px 2px 4px black;
    background-color: #e6e6e6;
    text-align: center;
    font-size: large;
    margin-left: auto;
    margin-right: auto;
    background-size: 100px;
}
#formulaire{
    width: 300px;
    padding: 8px;
    width: 250px;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
}
#name{
    width: 250px;
    height: 30px;
    border: solid #e6e6e6 2px;
}
#mail{
    width: 250px;
    height: 30px;
    border: solid #e6e6e6 2px;
    margin-top: 25px;
}
#msg{
    width: 250px;
    border: solid #e6e6e6 2px;
    margin-top: 25px;
}
#name:hover{
    border-color: rgb(146, 19, 19);
}
#mail:hover{
    border-color: rgb(146, 19, 19);
}
#msg:hover{
    border-color: rgb(146, 19, 19);
}
#button{
    background-color: rgb(146, 19, 19);
    border-color: rgb(146, 19, 19);
    padding: 10px;
    margin-left: 10px;
    margin-right: 10px;
    color: white;
}
#button:hover{
    background-color: #2dee7e;
    border-color: #2dee7e;
}
button:active{
    box-shadow: black 10px;
} 
footer{
    background-color: #2e2f30;
    position: absolute;
    bottom: 0px;
    height: 100px;
    width: 40cm;
    text-align: center;
}
.footer_liens{
    padding-right: 50px;
    margin: 0px;
    margin-right: 0px;
    color: white;
    background-color: #2e2f30;
    vertical-align: middle;
    font-size: 14px;
}