body{
    font-family: Open-Sans;
    background-color: #f2f2f2;
}
#description{
    margin-left: 50px;
    text-align: left;
    margin-top: 10px;
}
h1{
    font-size: 40px;
    text-align: left;
    font-style: italic;
    font-family: 'Times New Roman', Times, serif;
    color: rgba(145, 107, 107);
    border: rgba(145, 107, 107) 4px double;
    background-color: rgb(228, 222, 222);
    padding: 2%;
}
.navigation{
    background-color: #2e2f30;
    width: 97.5%;
    background-size: 100px;
    padding-left: 25px;
    text-align: left;
    padding: 1%;
    position: relative;
    top: -27px;
}
.liens{
    color: white;
    text-align: center;
    vertical-align: middle;
}
.liens2{
    color: rgb(192, 74, 109);
}
fieldset:hover a {
    text-decoration: none;
    color: #b13d6d;
}

#formulaire{
    width: 300px;
    padding: 8px;
    width: 250px;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
}
#name{
    width: 250px;
    height: 30px;
    border: solid #e6e6e6 2px;
}
#mail{
    width: 250px;
    height: 30px;
    border: solid #e6e6e6 2px;
    margin-top: 25px;
}
#msg{
    width: 250px;
    border: solid #e6e6e6 2px;
    margin-top: 25px;
}
#name:hover{
    border-color: rgb(146, 19, 19);
}
#mail:hover{
    border-color: rgb(146, 19, 19);
}
#msg:hover{
    border-color: rgb(146, 19, 19);
}
#button{
    background-color: rgb(146, 19, 19);
    border-color: rgb(146, 19, 19);
    padding: 10px;
    margin-left: 10px;
    margin-right: 10px;
    color: white;
}
#button:hover{
    background-color: #2dee7e;
    border-color: #2dee7e;
}
button:active{
    box-shadow: black 10px;
} 
footer{
   background-color: #2e2f30;
   color: white;
   width: 100%;
   height: 70px;
   position: absolute;
   bottom: 0px;
   font-size: 110%;
}
.cv{
    position: relative;
    left: 10px;
    color: white;
}
.github{
    position: relative;
    left: 100px;
    color: white;
}
.adm{
    position: relative;
    left: 1200px;
    color: white;
}
#article1{
    position: relative;
    left: 200px;
    top: 200px;
}
#article2{
    position: relative;
    left: 400px;
    top: 183px;
}
#article3{
    position: relative;
    left: 600px;
    top: 160px;
}
#article4{
    position: relative;
    left: 800px;
    top: 140px;
}
#article5{
    position: relative;
    left: 1000px;
    top: 120px;
}
#article6{
    position: relative;
    left: 200px;
    top: 200px;
}
#article7{
    position: relative;
    left: 600px;
    top: 60px;
}
#article8{
    position: relative;
    left: 1000px;
    bottom: 80px;
}
#affichetete{
    position: relative;
    left: 100px;

}
#prenom{
    width: 250px;
    height: 30px;
    border: solid #e6e6e6 2px;
}
#prenom:hover{
    border-color: rgb(146, 19, 19);
}
#login{
    width: 250px;
    height: 30px;
    border: solid #e6e6e6 2px;
}
#login:hover{
    border-color: rgb(146, 19, 19);
}
#password{
    width: 250px;
    height: 30px;
    border: solid #e6e6e6 2px;
}
#password:hover{
    border-color: rgb(146, 19, 19);
}
#creation-compte{
    text-align: center;
    color: thistle;
}
#compte{
    text-align: center;
}